<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This Is Home Page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-4" style="border-radius: 10%">
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
					<p th:text="${session.message.content}"></p>
			
					</div>
						<h1 class="text-center">Register Here!!</h1>
						<form  th:action="@{/do_register}" method="post" th:object="${user}" name="myform" onsubmit="validateForm()">

							<!-- Name Field -->
							<div class="form-group">
								<lable for="name_field">Your Name</lable>
								<input type="text" 
								th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
								name="name" class="form-control"
									id="name-field" aria-describedby="nameHelp"
									placeholder="Enter Here" required="required"
									th:value="${user.name}" />
									<div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
									
									</div>
							</div>

							<!-- Email Field -->
							<div class="form-group">
								<lable for="Password_field">Your Email</lable>
								<input type="email" name="email" class="form-control"
									id="email-field" aria-describedby="emailHelp"
									placeholder="Enter Here" required
									th:value="${user.email}" />
							</div>
							<!-- Password Field -->
							<div class="form-group">
								<lable for="Password_field">Your Password</lable>
								<input type="text" name="password" class="form-control"
									id="password" aria-describedby="emailHelp"
									placeholder="Enter Here" required 
									/>
							</div>
							<div class="form-group">
								<textarea name="about" id="" cols=""
									placeholder="Enter Something Yourself" rows="10"
									class="form-control" th:value="${user.about}"></textarea>

							</div>
							
							<!-- Terms and conditions -->
							
							<div class="form-group form-check">
							<input type="checkbox" name="agreement" class="form-check-input" id="agreement"/>
							
							<label for="agreement">Accept terms and conditions</label>
							</div>

							<div class="container text-center">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-warning">Reset</button>

							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
	function validateForm()
	{
		var name=document.myform.name.value;
		
		if(name==null||name=="")
			{
				alert("Name cannot be blank");
				return false;
			}
	}
	</script>
</body>
</html>